@import url('https://fonts.googleapis.com/css?family=Poppins|Playfair+Display');

body {
  padding: 0;
  margin: 0;
}

.main-container{
  display: flex;
  justify-content:space-between;
  margin-top: 80px;
}
.calculator-container {
  display: flex;
  flex-direction: column;
  background-color: #c3cbd6;
  width: 250px;
  margin-right: 80px;
  margin-top: 80px;
  border: 1px solid #000;
  padding: 50px 60px;
}

.calculator-title{
  margin-left: 20px;
  font-family: 'Playfair Display';
  color: #d05663;
}

.result {
  background-color: #5f5f5f;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  padding: 10px 5px;
  height: 20px;
  color: #fff;
  text-align: right;
  width: 249px;
}

.calc-input::placeholder {
  color: #fff;
  text-align: end;
}

.line {
  display: flex;
  width: 100vw;
}

.key {
  width: 65px;
  padding: 10px 0;
  border: solid 1px #d3d3d3;
}

.key-exception {
  width: 130px;
  border: solid 1px #d3d3d3;
}

.color {
  background-color: rgb(240, 104, 55);
}
