@import url('https://fonts.googleapis.com/css?family=Poppins|Playfair+Display');

body {
  padding: 0;
  margin: 0;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.result {
  background-color: #5f5f5f;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  padding: 10px 5px;
  height: 20px;
  color: #fff;
  text-align: right;
}

.calc-input::placeholder {
  color: #fff;
  text-align: end;
}

.line {
  display: flex;
  width: 100vw;
}

.key {
  width: 65px;
  padding: 10px 0;
  border: solid 1px #d3d3d3;
}

.key-exception {
  width: 130px;
  border: solid 1px #d3d3d3;
}

.color {
  background-color: rgb(240, 104, 55);
}
